function loadRecursive($path, $name) {
    $items = glob($path.DIRECTORY_SEPARATOR."*");

    foreach($items as $item) {
    $isPhp = pathinfo($item)["extension"] === "php";

    if (is_file($item) && $isPhp && (basename($item) == "$name.php")) {
          include $item;
        } elseif (is_dir($item)) {
          loadRecursive($item, $name);
        }
    }
}

